body {
    background-color: antiquewhite;
}

.logo {
    width: 60px;
}

.regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regForm input {
    border-radius: 5px;
    display: block;
}

.regForm a {
    display: block;
}

.regForm a:hover {
    color: red;
}

.regForm button {
    border-radius: 5px;
}

.regError {
    color: rgb(160, 95, 95);
}

#welcome {
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome h1 {
    text-align: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login a {
    display: block;
}

#login a:hover {
    color: red;
}

.profileSmall {
    width: 80px;
}
