body {
    background-color: antiquewhite;
}

.logo {
    width: 60px;
}

.regForm input {
    border-radius: 5px;
}

.regForm button {
    border-radius: 5px;
}

.regError {
    color: rgb(160, 95, 95);
}
