body {
    background-color: antiquewhite;
}

.logo {
    width: 60px;
}

.regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regForm input {
    border-radius: 5px;
    display: block;
}

.regForm a {
    display: block;
}

.regForm a:hover {
    color: red;
}

.regForm button {
    border-radius: 5px;
}

.regError {
    color: rgb(160, 95, 95);
}

#welcome {
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome h1 {
    text-align: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login a {
    display: block;
}

#login a:hover {
    color: red;
}

.profileSmall {
    width: 80px;
}

.hiddenFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.picUploadBtn {
    color: wheat;
    background-color: yellowgreen;
    border-radius: 5px;
    font-size: 30px;
}

.uploadContainer {
    border: solid black;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadContainer p {
    border: solid black;
}
